html,
body {
    margin: 0;
    font-family: Roboto, RobotoFallback, "Noto Kufi Arabic", Helvetica, Arial, sans-serif;
    font-size: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
}

.font-label {
    font-family: Roboto, RobotoFallback, "Noto Kufi Arabic", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: italic
}

.font-input {
    font-weight: 500;
    background-color: white;
}

.font-read-only {
    font-weight: 500;
    font-style: italic;
    background-color: lightcyan;
}

.read-only {
    font-weight: 500;
    font-weight: bold;
    font-style: italic;
    background-color: white
}

.font-small {
    font-size: x-small;
}